
{% extends "Katale/base.html" %}
{% load staticfiles %}
{% block title %}Katale | Cart{% endblock title %}

{% block site_content %}

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="/Katale/">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			{% if products %}
			<table class="table table-condensed">
				<thead>
				<tr class="cart_menu">
					<td class="image">Item</td>
					<td class="description">Name</td>
					<td class="price">Price</td>
					<td class="quantity">Quantity</td>
					<td class="total">Sub-Total</td>
					<td></td>
				</tr>
				</thead>
				{% endif %}
				{% if products %}
				{% for product in products %}
				<tbody>

				<tr>
					<td class="cart_product">
						<!--<a href=""><img src="{{product.image.url}}" alt=""></a>-->
						<img src="{{product.product_image.url}}" alt="" height="110" width="110"/>
					</td>
					<td class="cart_price">
						<p>{{product.product_name}}</p>
						<!--<p style="color:transparent" >{{product.description}}</p>-->
					</td>
					<td class="cart_price">
						<p>{{product.price}}</p>
					</td>
					<td class="cart_quantity">
						<div class="cart_quantity_button">
							<!--<a class="cart_quantity_up" href=""> + </a>-->
							<form method="post" action=".">
								{% csrf_token %}
								<input class="cart_quantity_input" type="text" name="quantity" value={{product.quantity}} autocomplete="off" size="2">
								<input type="hidden" name="product_id" value="{{product.id}}">
								<button class="cart_quantity_input" type="submit" name="submit" value="Update">Update</button>
								<!--<a  href=""> - </a>-->
							</form>
						</div>
					</td>
					<td class="cart_total">
						<p class="cart_total_price">UGX {{product.total_price}}</p>
					</td>
					<td class="cart_delete">
						<form method="post" action=".">
							{% csrf_token %}
							<input type="hidden" name="product_id" value="{{ product.id }}" />
							<button type="submit" name="submit" value="Remove" class="cart_quantity_delete" ><i class="fa fa-times"></i></button>

						</form>
					</td>
				</tr>
				{% endfor %}

				{% else %}

				<div class="container">
					<h3>You have no products in your cart</h3>
				</div>
				{% endif %}
				</tbody>

			</table>


		</div>
	</div>
</section> <!--/#cart_items-->

{% if products %}
<section id="do_action">
	<div class="container">
		<div class="heading">
			<h3>What would you like to do next?</h3>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="total_area">
					<ul>
						<li>Cart Sub Total <span>UGX {{ sub_total }} </span></li>
						<!--<li>Eco Tax <span>$2</span></li>-->
						<li>Shipping Cost <span>Free</span></li>
						<li>Total <span>UGX {{ sub_total }}</span></li>
					</ul>

					<a class="btn btn-default check_out" href="">Check Out</a>
				</div>
			</div>
		</div>
	</div>
</section><!--/#do_action-->
{% endif %}
{% endblock %}