<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            {% if categories %}
            {% for category in categories%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="{% url 'Katale:products' category.id %}" >
                            <!--<span class="badge pull-right"><i class="fa fa-plus"></i></span>-->
                            {{category.category}}
                        </a>
                    </h4>
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div><!--/category-products-->




    </div>
</div>

