
{% extends "Katale/base.html" %}
{% load staticfiles %}
{% block title %}Katale | Product Details{% endblock title %}
{% block site_content %}
<section>
		<div class="container">
			<div class="row">
                <div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% if categories %}
							{% for category in categories%}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="{% url 'Katale:products' category.id %}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{category.category}}
										</a>
									</h4>
								</div>
							</div>
							{% endfor %}
							{% endif %}

						</div><!--/category-products-->
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div>
                    </div>
                </div>

				<div class="col-sm-9 padding-right">

					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							{% if product %}


							<div class="view-product">
								<img src="{{product.image.url}}" alt="" />

							</div>


						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<!--<img src="images/product-details/new.jpg" class="newarrival" alt="" />-->
								<h2>{{product.product_name}}</h2>

								<!--<img src="images/product-details/rating.png" alt="" />-->
								<span>
									<span>Shs {{product.price}}</span>
									<!--<label>Quantity:</label>-
									<input type="text" value="3" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>-->

									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<p>{{product.description}}</p>

								{% endif %}
								<!--<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
									<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>-->
							</div><!--/product-information-->

						</div>
					</div><!--/product-details-->


				</div>
			</div>
		</div>

    </section>


{% endblock %}